<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zero"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
 
    
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AV.Translucent.NoParent" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zero.test.jni.HelloJni"
            android:label="@string/app_name" />
        <activity
            android:name="com.zero.test.obscurdview.ObscurdActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.zero.test.inflate.InflateTestActivity"
            android:label="@string/app_name" />

        <provider
            android:name="com.multiprocess.crossprocess.ServiceManagerProvider"
            android:authorities="com.zero.com.multiprocess.crossprocess.ServiceManagerProvider"
            android:exported="false"
            android:process=":server" >
        </provider>
    </application>

</manifest>